@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@200&family=Spectral:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
body{
    background: url('/asset/background_blur.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.navbar{
	font-family: 'inter';
	color: #4b5563 !important;
	font-weight: 500;
    backdrop-filter: blur(16px);
}
.nav-link{
	font-size: 2.7vh;
}
.text-gradient {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #71d16c;
    --tw-gradient-to: rgba(113,209,108,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #0ea5e9;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}
.signin-btn {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
	--tw-gradient-from: #71d16c;
	--tw-gradient-to: rgba(113, 209, 108, 0);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	--tw-gradient-to: #27d38e;
	--tw-text-opacity: 1;
	height: 40px;
	padding: 0 24px;
	font-family: 'intern';
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	margin: auto 0;
	position: relative;
	min-width: 135px;
	border-radius: 50px;
	font-family: 'inter';
}
.signin-btn > p {
	margin: auto 0;
}
.signin-btn:active {
	color: #27d38e;
}
